* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.main {
  background-image: url('images/greypaper2.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  color: rgb(240, 247, 247);
}

nav {
  background-image: url('images/blackmatte.JPG');
  height: 80px;
  width: 100%;
}

label.logo{
  color: rgb(26, 211, 211) 
}


nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: rgb(239, 248, 248);
  font-size: 17px;
  text-transform: uppercase;
  display: none;
}

.hamburger {
  position: relative;
  color: white;
  cursor: pointer;
}

.hamburger:hover{
  background: rgb(56, 182, 161) ;
}

a.active,a:hover{
  background: rgb(56, 182, 161);
  transition: .5;
}


footer {
  padding: 1% 0;
  background-image: url('images/blackmatte.JPG');
}



header {
  padding: 12% 0;
  
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-image: url('images/greypaper2.png');
  text-align: center;
}

section:nth-child(even) {
  background-image: url('images/blackmatte.JPG');
}

h1 
{
  font-size: large;
  font: 'Times New Roman', Times, serif;
  margin: auto;
  width: fit-content;
  text-align: center;
}

h2 {
  font-size: medium;
  margin: auto;
  width: fit-content;
  text-align: center;
}




li {
  font-size: small;
  margin: auto;
  width: fit-content;
  text-align: center;
}

section {
  font-size: small;
  margin: auto;
  width: auto;
  text-align: center;
}

@media screen and (max-width: 700px) and
(max-width: 480px) {
  label.logo
  {
    font-size: 30px;
    padding-left: 50px;
  }
  nav li a 
  {
    font-size: 16px;
    display: none;
  }

  ul 
  {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 80px;
    left: 0;
    text-align: center;
  }

  #nav-dropdown
  {
    display:none;
  }
}


@media screen and (min-width: 500x) 
{
  #nav-dropdown
  {
    display: none;
  }

  .hamburger 
  {
    display: flex;
  }

  nav ul li a
  {
    display: none;
  }

  .hamburger {
    display: inline;
  }

}


@media screen and (min-width: 900px) 
{
  nav ul li a 
  {
    display: flex;
  }

  .hamburger 
  {
    display: none;
  }

 

}
